.c-subscription-form-wrap {
  h1 {
    margin-bottom: 16px;
  }
}

.c-subscription-form {
  div {
    margin-bottom: 16px;
  }

  button {
    min-width: 100px;
  }
}

.c-subscription-form__success {
  color: green;
}
